<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <link rel="stylesheet" href="{{static_url}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url }}/style.css">
</head>
<body>

    <header>
        <h1>{% block header %}Welcome to {{ app_name }}{% endblock %}</h1>
        <p>Current Page: {{ request_uri }}</p>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ current_year }} {{ app_name }}. All rights reserved.</p>
    </footer>
    <script src="{{static_url}}/js/bootstrap.bundle.min.js" ></script>
</body>
</html>
